html,body{
	height:100%;
	margin:0;
	background: #FFF
}
body{
	color:#58595b;
	font-family: "europa";
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	line-height: 1.5;
	position: relative;
	cursor: auto;
	letter-spacing: 0.05rem;
	-webkit-font-smoothing: subpixel-antialiased
}
#top{
	background:url('../images/screendoor.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: 90%;
	height:30%;
	width:100%;
	position: center;
}
.contents {
	display: inline-block;
	text-align: center;
}
.profile{
	width: auto;
	background: transparent;
	margin: inherit;
	position: relative;
	padding:0px 0px;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     position: relative;
     text-align: inherit;
}
.avatar-container{
	width: auto;
	text-align: center;
	position: center;
	top:-6em;
	margin: auto;
}
.avatar-container img.avatar{
	width:13em;
	height:12em;
	border-radius:100%;
	margin-bottom:10px;
	padding: 5px;
}
.avatar-text{
	/* TODO */
}
h1{
	color:#4fbfa6;
	font-size:18pt;
	font-weight:400;
	margin:0px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
h2{
	font-size:12pt;
	font-weight: 200;
	margin:0px;
	margin-left: auto;
	margin-right: auto;
	text-decoration: underline;
}
.sectiondivider {
	display: inline-block;
	margin: auto;
}
a{	
	color:#58595b;
	text-decoration: none;
}
a:hover{
	color:#4fbfa6;
	display: inline-block;
}
.resume-left {
	float: left;
	width: 50%;
	margin-top:200px;
	text-align:center;
}
.resume-right {
	float: left;
	width: 50%;
	margin-top:200px;
	text-align:center;
}
.r-left{
	float: left;
	width: 33.3%;
	margin-top:50px;
	text-align:center;
	padding-bottom: 10px;
	height: 20em;
}
.resume-middle{
	text-align:center;
	position:relative;
}
.module-leftright{
	padding-left:10px;
	padding-right: 10px;
	border-right:3px solid #4fbfa6;
}
.module{
	margin-bottom:30px;
}
.module .title,.module .sub-title, .module2 .title {
	color:#4fbfa6;
	font-size:14pt;
	font-weight:400;
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto
}
.module p{
	font-weight:333;
	font-size:10pt;
	line-height:12pt;
	letter-spacing: 0.1rem;
	word-spacing: 0.1rem;
	text-rendering: optimizeLegibility;
	text-align: center;
	-webkit-font-smoothing: subpixel-antialiased
}
.module-right{
	padding-left:10px;
	padding-right: 10px;
	position: relative;
}
.about{
	/*width: 50em; */
	padding-bottom: 50px;
	margin-left: 66px;
	margin-right: 66px;
}
.warranty{
	width: auto;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
	text-align: center;
}
div.img {
    text-align: center;
}

img{
	overflow: hidden;
    vertical-align: middle;
    max-height: 95%
}

.thumbnails img{
	height: 80px;
	border 4px solid #555;
	padding: 1px;
	margin: 0 10px 10px 0;
}

.thumbnails img:hover {
	border: 4px solid #00cff;
	cursor: pointer;
}

.preview img {
	border: 4px solid #444;
	padding: 1px;
	width: 95%;
	height: auto;
	margin-bottom: 10px;
}

}