html,body{
	height:100%;
	margin:0;
	background: #FFF
}
body{
	color:#58595b;
	font-family: "europa";
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	line-height: 1.5;
	position: relative;
	cursor: auto;
	letter-spacing: 0.05rem;
	-webkit-font-smoothing: subpixel-antialiased
}
#top{
	background:url('../images/screendoor.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: 90%;
	height:30%;
	width:100%;
	position: center;
}
.contents {
	display: inline-block;
	text-align: center;
}
.profile{
	width: auto;
	background: transparent;
	margin: inherit;
	position: relative;
	padding:0px 0px;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     position: relative;
     text-align: inherit;
}
.avatar-container{
	width: auto;
	text-align: center;
	position: center;
	top:-6em;
	margin: auto;
}
.avatar-container img.avatar{
	width:13em;
	height:12em;
	border-radius:100%;
	margin-bottom:10px;
	padding: 5px;
}
.avatar-text{
	/* TODO */
}
h1{
	color:#000;
	font-size:25pt;
	font-weight:400;
	margin:0px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
h2{
	font-size:15pt;
	font-weight: 200;
	margin:0px;
	margin-left: auto;
	margin-right: auto;
	text-decoration: underline;
}
.sectiondivider {
	display: inline-block;
	margin: auto;
	margin: 10px;
	padding-top: 50px;
}
a{	
	color:#2f2bbf;
	text-decoration: none;
}
a:hover{
	color:#000;
	display: inline-block;
}
.module-left {
	float: left;
	width: 50%;
	text-align:center;
}
.module-productl{
	float: left;
	min-width: 130px;
	width: 30%;
	text-align:center;
}
.module-productr{
	float:left;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.r-div{
	float: left;
	width: 33.3%;
	padding-top:20px;
	height: auto;
}
.module-middle{
	text-align:center;
	position:relative;
}
.module-div{
	padding-left:10px;
	padding-right: 10px;
	border-right:3px solid #4fbfa6;
}

.module-picdiv{
	padding-right: 1px;
	border-right: 3px transparent #4fbfa6;
}

.module-picture{
	float: inherit;
	width: 50%;
	margin-top: 10%;
	text-align: center;
}

.textformat{
	margin: 20px;
	text-align: center;
	width: auto;
}
.module .title,.module .sub-title, .module2 .title {
	color:#2f2bbf;
	font-size:14pt;
	font-weight:400;
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto
	margin-top: 5%
	margin-bottom: 5%;
	text-align:center;
}
.module p{
	font-weight:333;
	font-size:10pt;
	line-height:12pt;
	letter-spacing: 0.1rem;
	word-spacing: 0.1rem;
	text-rendering: optimizeLegibility;
	text-align:center;
	-webkit-font-smoothing: subpixel-antialiased
}

.header{
	margin: 10px;
	padding: 10px;
	text-align: center;
	width: fixed;
}

div.img {
    text-align: center;
}

img{
	overflow: hidden;
    vertical-align: middle;
    max-height: 95%
}

.thumbnails img{
	height: 100px;
	width: auto;	
	padding: 1%;
	margin: 0 1% 1% 0;
}

.thumbnails img:hover {
	cursor: pointer;
	width: auto;
}

.pviewhome img{
	border: 4px solid#444;
	padding: 1px;
	max-width: 85%;
	width: auto;
	height: auto;
	margin-bottom: 10px;
}

.preview img {
	border: 4px solid #444;
	padding: 1%;
	max-width: 80%;
	width: auto;
	max-height: 80%;
	height: auto;
	overflow: hidden;
}

.preview2 img{
	border: 4px solid #444;
	padding: 1%;
	max-width: 80%;
	width: auto;
	height: auto;
	max-height: 80%;
	overflow: hidden;
}
.preview3 img{
	border: 4px solid #444;
	padding: 1%;
	max-width: 80%;
	width: auto;
	height: auto;
	max-height: 80%;
	overflow: hidden;
}